{% extends "lab_10/layout/base.html" %}

{% block content %}
    <br class="row">
        <br>
        <h2 style="color:white; margin-left:33%; font-size:35px;">{{ movie.title }} ({{ movie.year }})</h2>
        <div>
            <img src={{ movie.poster }} style="margin-left:37%;">
            <h2 style="color:white;">{{ movie.title }} ({{ movie.year }})</h2>
        </div>
        <div>
            <table class="table table-striped">
                <tr>
                    <th>Released:</th>
                    <td> {{ movie.released }}</td>
                </tr>
                <tr style="color:white;">
                    <th>Runtime:</th>
                    <td> {{ movie.runtime }}</td>
                </tr>
                <tr>
                    <th>Director:</th>
                    <td> {{ movie.director }}</td>
                </tr>
                <tr style="color:white;">
                    <th>Genre:</th>
                    <td> {{ movie.genre }}</td>
                </tr>
                <tr>
                    <th>Writer:</th>
                    <td> {{ movie.writer }}</td>
                </tr>
                <tr style="color:white;">
                    <th >Actors:</th>
                    <td> {{ movie.actors }}</td>
                </tr>
                <tr>
                    <th>Language:</th>
                    <td> {{ movie.language }}</td>
                </tr>
                <tr style="color:white;">
                    <th >Plot:</th>
                    <td>{{ movie.plot }}</td>
                </tr>
            </table>
        </div>
        <div class="box">
            {% if added %}
                <button class="btn btn-success"> Added to Watch Later</button>
            {% else %}
                <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
            {% endif %}
        </div>
        <br></br>
    </div>
{% endblock %}

