{% extends "lab_10/layout/base.html" %}

{% block content %}
<style>
    body{
    color:white;
}

</style>


    <div class="card-group" style="padding: 20px">
        {% for movie in watch_later_movies %}
            <div class="card" style="max-width: 30rem;">
                <h3 class="card-header">{{ movie.title }}</h3>
                <div class="card-block">
                    <a href='/lab-10/movie/detail/{{ movie.imdbid }}'><img src= "{{ movie.poster }}" style="text-align: center"></a>
                    <hr/>
                    <p class="card-text"><b>Writer:</b> {{ movie.writer }}</p>
                    <p class="card-text"><b>Country:</b> {{ movie.country }}</p>
                    <p class="card-text"><b>Genre:</b> {{ movie.genre }}</p>
                    <p class="card-text"><b>Runtime:</b> {{ movie.runtime }}</p>
                    <p class="card-text"><b>Plot:</b> {{ movie.plot }}</p>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
