{% extends "lab_8/layout/base.html" %}
{% block content %}
    <section name="postFeed" id="postFeed">
        <div class="container" id="contentlab8">
        </div>
        <div class="status"></div>
    </section>
{% endblock %}
