{% extends "base.html" %}
{% block content %}
<style>
.center_screen {
        position: absolute;
		text-align:center;
        margin-left: -250px;
        margin-top: 250px;
    }
.set-table{
	width:150px;
	}
tr:hover {
	background-color: #3F647E;
	}
</style>
<h3 style="text-align: center" class=center_screen">Hi all, This is my complete biodata</h3>
<table class="center_screen" align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject set-table">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
