body{
   margin-top: 70px;
   background: linear-gradient(180deg, #35577D, #141E30);
   font-family: 'Muli';


}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

.button-teman {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
