{% extends "lab_4/layout/base.html" %}

    {% block content %}
<link rel="stylesheet" id="tt-easy-google-fonts-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3Aregular%7CMuli%3Aregular%2C300&amp;subset=latin%2Call%2Call&amp;ver=4.7.6" type="text/css" media="all">
<style type="text/css">
     .image {
        width:250px;
        height: 240px;
        border-color: black;
        border-width: 2px;
        border-style: hidden;
        border-radius: 80%;
    }
    .position{
        margin-left:475px;
    }
    .bio {
        font-size: 20px;
        font-family: "Muli", "Lucida Grande", Verdana, Arial, sans-serif;
        color: white;
        text-align:left;
    }
    body{
        font-family: 'Muli';
        color:lightgray;
        background: linear-gradient(180deg, #35577D, #141E30);
    }
</style>
    <h1 style="margin-left: 520px"><strong>Portofolio</strong></h1>
     <a href="#"><img class="image position"alt="Luthfi Dzaky" src="http://i64.tinypic.com/b5sml4.jpg"></a>
     <br></br>
    <h1 style="margin-left: 470px">Hello, I am Luthfi</h1>
    <hr/>
    <section name="bio" style="background-color:blue">
        <h2><strong>Bio</strong></h2>
            <p class="bio">Hello, this is Luthfi Dzaky. {{ content }}.</p>   
    </section>
    <hr/>
    <section name="about_me">
        <h2><strong>List</strong></h2>
        <ul>
            {% for ii in about_me %}
            <li class="bio"> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form">
        <h2><strong>Send Message</strong></h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br></br>
    </section>

    {% endblock %}
