{% extends "lab_4/layout/base.html" %}
    {% block title %} Kumpulan Pesan {% endblock %}
    {% block content %}
    <!--  Populate semua isi pesan dari model -->
    <link rel="stylesheet" id="tt-easy-google-fonts-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3Aregular%7CMuli%3Aregular%2C300&amp;subset=latin%2Call%2Call&amp;ver=4.7.6" type="text/css" media="all">
    <style>
    body{
        background: linear-gradient(180deg, #35577D, #141E30) no-repeat;
        font-family: 'Muli';
    }
    p{
        color:LightGray;
    }
    tr:hover{
        background: #818387;
        color:black;
        font-size: 120%;
        font-weight: bold;
    }
</style>

    <table class="table">
        <thead style="background-color: #818387">
            <th>Nama</th>
            <th>Email</th>
            <th>Pesan</th>
            <th>Dibuat Pada</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in message %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{i.name}} </td>
                <td> {{i.email}} </td>
                <td> {{i.message}} </td>
                <td> {{i.created_date}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
