{% extends "base.html" %}
{% block content %}
<style>
    body {
        background: url("http://i65.tinypic.com/308xhrq.jpg");
        background-size: cover;
    }
    .center_screen {
        position: absolute;
        width: 500px;
        top: 70%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
	 .sets {
        color:white;
		font-family: Quicksand,'Oswald', sans-serif;
		font-weight: bold;
		font-size: 25px;
	}
    .image {
        width:210px;
        height: 200px;
        border-color: black;
        border-width: 2px;
        border-style: hidden;
        border-radius: 80%;
    }
    .position-image{
        position: absolute;
        top: 35%;
        left:60%;
        margin-left: -250px;
        margin-top: -25px;
    }
    .btn {
      background-color: #1c1c1c;
      color: #fff;
      font-size: 18px;
      padding: 8px 30px;
      text-decoration: none;
      display: inline-block;
      margin-left:47%;
      margin-top: 40%;
}
    a.btn:hover {
  background:#ffa800;
  color:#000;
    }   
</style>
<div>
    <a href="/lab-2-addon/"><img class="image position-image" alt="Luthfi Dzaky" src="http://i64.tinypic.com/b5sml4.jpg"></a>
</div>
<div class="center_screen">
    <p class="status sets" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
<a class="btn" href="/lab-3/">My Diary</a>
{% endblock %}