{% extends "lab_6/layout/base.html" %}
<head>

</head>
{% block content %}
<div class="container" style="margin-top:40px;">
    <select class="my-select" style="border-radius:10%; height:32px;"></select>
    <button class="apply-button">apply</button>
</div>
<!-- ChatBox Section -->
<section name="Chatbox">
    <div class="wrapper">
        <div class="chat-box">
            <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow"
                     width="16" id="arrow">
            </div>
            <div class="chat-body">
                <div class="msg-insert">
                    <textarea id="chatbox" class="chat-body msg-insert" style="width:340px; overflow:auto;"></textarea>
                </div>
                <div class="chat-text">
                    <textarea placeholder="Press Enter" onkeypress="masukin(event)" id="chatss"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function masukin(event){
        if (event.keyCode == 13){
        var text = document.getElementById("chatss");
        document.getElementById("chatbox").value += text.value;
        document.getElementById("chatss").value ="";
        event.preventDefault;
        }

}
</script>
{% endblock %}
