<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
</head>
<style>
  body {
        background: url("http://i65.tinypic.com/308xhrq.jpg");
        background-size: cover;
    }
    table, th, td {
        border: 1px solid black;
		    text-align:center;
    }
	td{
		height:50px;
		width:250px;
		padding-left:6px;
	}
    .subject{
        font-size: 20px;
        font-family: "Lato", "Lucida Grande", Verdana, Arial, sans-serif;
        color: black;
		text-align:left;
    }
    .value{
        font-size: 20px;
        font-family: "Lato", "Lucida Grande", Verdana, Arial, sans-serif;
        color: black;
		text-align:left;
    }
	tr:hover {
		background-color: rgba(63,100,126,0.7);
		color:white;
	}
	
</style>
<body style="background-color: rgba(2,48,71,0.2)">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light" style="background-color: rgba(134, 142, 150, 0.67)">
          <a class="navbar-brand" href="#">Luthfi Dzaky  </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
