   <!-- Fixed navbar -->
   <style type="text/css">
     .navbar-background{
      background-color: rgba(172,181,195,0.79);
      border-color: rgba(172,181,195,0.79);
   </style>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'lab-8:index' %}" style="font-size: 22px">Home</a>
        </div>
      </div>
    </nav>
